@inject GameState State

<section class="scoreboard">
    <h2>Scoreboard</h2>
    <p>Player 1 Wins: @player1Win</p>
    <p>Player 2 Wins: @player2Win</p>
</section>

<HeadContent>
    <style>
        :root {
            --board-bg: blue;  /** the color of the board **/
            --player1: red;      /** Player 1's piece color **/
            --player2: yellow;     /** Player 2's piece color **/
        }
    </style>
</HeadContent>

<nav>
    @for (byte i = 0; i < 7; i++)
    {
        var col = i;
        <span title="Click to play a piece" @onclick="() => PlayPiece(col)">🔽</span>
    }
</nav>

<article>
    @winnerMessage  <button style="@ResetStyle" @onclick="ResetGame">Reset the game</button>
    <br />
    <span class="alert-danger">@errorMessage</span>
    <span class="alert-info">@CurrentTurn</span>
</article>

<div>
    <div class="board">
    @for (var i = 0; i < 42; i++)
    {
        <span class="container">
            <span></span>
        </span>
    }
    </div>
    @for (var i = 0; i < 42; i++)
    {
       <span class="@pieces[i]"></span>
    }
</div>

@code {
    private int player1Win = 0;
    private int player2Win = 0;
    private string[] pieces = new string[42];
    private string winnerMessage = string.Empty;
    private string errorMessage = string.Empty;

    private string CurrentTurn => winnerMessage == string.Empty
        ? $"Player {State.PlayerTurn}'s Turn"
        : "";

    private string ResetStyle => winnerMessage == string.Empty
        ? "display: none;"
        : "";

    protected override void OnInitialized()
    {
        State.ResetBoard();
    }

    private void PlayPiece(byte col)
    {
        errorMessage = string.Empty;

        try
        {
            var player = State.PlayerTurn;
            var turn = State.CurrentTurn;
            var landingRow = State.PlayPiece(col);

            pieces[turn] = $"player{player} col{col} drop{landingRow}";

            var winner = State.CheckForWin();

            if (winner == GameState.WinState.Player1_Wins)
            {
                winnerMessage = "Player 1 wins!";
                player1Win++;
            }
            else if (winner == GameState.WinState.Player2_Wins)
            {
                winnerMessage = "Player 2 wins!";
                player2Win++;
            }
            else if (winner == GameState.WinState.Tie)
            {
                winnerMessage = "The game is a tie!";
            }
        }
        catch (ArgumentException ex)
        {
            errorMessage = ex.Message;
        }
    }

    private void ResetGame()
    {
        State.ResetBoard();
        winnerMessage = string.Empty;
        errorMessage = string.Empty;
        pieces = new string[42];
    }
}